парсинг файлов опор для вычленения оттуда углов наклона осей

In [2]:
from pathlib import Path
import pandas as pd
import numpy as np

In [3]:
# пути 
workdir = Path(r'D:\work\2022_m\110_man-nps1\test\angles')
strdir = Path(r'D:\work\2022_m\110_man-nps1\test\angles\Stick')

In [4]:
# read names
cgt_tab = pd.read_excel(workdir / 'all_in_one.xlsx', index_col=0, names=['id', 'path'], sheet_name='str_names')

In [5]:
cgt_tab

                              path
id
ПС_Мангазея         port_start.stk
1              u110-2_stp_m001.stk
2             p110-4v_sus_m002.stk
3               u110-2_stp_m00.stk
4              u110-2_stp_m004.stk
...                            ...
193          2p220-2t_sus_m189.stk
194          2p220-2t_sus_m189.stk
195            u220-2_stp_m195.stk
ПС_НПС-1              port_end.stk
4a            u110-2_stp_m004a.stk

[198 rows x 1 columns]

In [6]:
# add new cols
cgt_tab.assign(dx=np.nan, dy=np.nan)

for stk in range(len(cgt_tab)):
    idx = cgt_tab.iloc[stk].name
    with open(strdir / cgt_tab.iloc[stk].path) as str_file:
        lines = str_file.readlines()
        cgt_tab.loc[idx, 'dx'] = -float(lines[11].split()[0])
        cgt_tab.loc[idx, 'dy'] = float(lines[11].split()[1])
        #print(lines[11].split()[0], lines[11].split()[1])

In [7]:
cgt_tab

                              path    dx    dy
id
ПС_Мангазея         port_start.stk -0.00  0.00
1              u110-2_stp_m001.stk  0.07 -0.04
2             p110-4v_sus_m002.stk -0.00  0.00
3               u110-2_stp_m00.stk -0.00  0.00
4              u110-2_stp_m004.stk -0.00  0.00
...                            ...   ...   ...
193          2p220-2t_sus_m189.stk -0.00  0.00
194          2p220-2t_sus_m189.stk -0.00  0.00
195            u220-2_stp_m195.stk -0.54 -0.37
ПС_НПС-1              port_end.stk -0.00  0.00
4a            u110-2_stp_m004a.stk -0.00  0.00

[198 rows x 3 columns]

In [8]:
# save tab
cgt_tab.to_csv(workdir / 'lean_angles.txt', sep='\t', encoding = 'cp1251')