расчет охранной зоны 

имеем - координаты опор и точки крепления проводов  
получить - площадь охранной зоны

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from shapely.geometry import Point, Polygon, LineString
import csv

from math import sqrt, acos, degrees
import matplotlib.pyplot as plt
from shapely.ops import split
from descartes import PolygonPatch

In [4]:
zona_size = 20   # величина охранной зоны

In [5]:
# пути 
workdir = Path(r'D:\work\2022_m\110_man-nps1\test\ohzone')

In [33]:
# read cgtow
cgt_tab = pd.read_excel(workdir / 'all_in_one.xlsx', index_col=0, sheet_name='coords')

In [34]:
# add new cols
cgt_tab.assign(ltk_x=np.nan, ltk_y=np.nan, rtk_x=np.nan, rtk_y=np.nan)

                     x           y      z  ltk_x  ltk_y  rtk_x  rtk_y
id
ПС_Мангазея  557439.52  7388308.80  19.58    NaN    NaN    NaN    NaN
1            557468.30  7388296.38  18.98    NaN    NaN    NaN    NaN
2            557639.36  7388332.05  19.05    NaN    NaN    NaN    NaN
3            557890.35  7388384.45  18.88    NaN    NaN    NaN    NaN
4            558117.80  7388335.67  17.08    NaN    NaN    NaN    NaN
...                ...         ...    ...    ...    ...    ...    ...
195          572291.98  7359966.88  14.06    NaN    NaN    NaN    NaN
ПС_НПС-1     572300.04  7360000.50  16.41    NaN    NaN    NaN    NaN
4c           558117.80  7388335.67  17.08    NaN    NaN    NaN    NaN
4a           558162.26  7388275.24  18.53    NaN    NaN    NaN    NaN
6c           558333.03  7388289.63  12.32    NaN    NaN    NaN    NaN

[200 rows x 7 columns]

In [35]:
# read tk  
# !! - without EW sets. works for double circuits only

tk_tab = pd.read_excel(workdir / 'all_in_one.xlsx', sheet_name='tk_for_zone')

In [36]:
tk_tab[tk_tab['id'] == 'ПС_Мангазея']

            id  set          x           y
0  ПС_Мангазея   11  557442.74  7388315.15
1  ПС_Мангазея   12  557441.73  7388312.75
2  ПС_Мангазея   13  557440.83  7388310.63
3  ПС_Мангазея   14  557439.22  7388306.81
4  ПС_Мангазея   15  557438.31  7388304.64
5  ПС_Мангазея   16  557437.30  7388302.25

In [37]:
def dista(a, b):
    # dist a to b
    
    dx = a[0] - b[0]
    dy = a[1] - b[1]
    dist = round(sqrt(dx*dx + dy*dy), 2)    

    return dist

In [38]:
def fahrestone(a, tk_dict):
    # return fahrest point to a from c_list
    # list of tk (set, x, y)
    dist_tk = 0
    fahrest_tk = (0, 0)
    
    if len(tk_dict) == 6:
        # find one middle point for pair
        
        sets = sorted(tk_dict.keys())  # names of sets
        #print(sets)
        new_dict = {}
        for k in range(3):
            #print(k, sets[k], tk_dict[sets[k]][0], tk_dict[sets[k]][1])
            new_dict[sets[k]] = (((tk_dict[sets[k]][0] + tk_dict[sets[k]+10][0])/2), ((tk_dict[sets[k]][1] + tk_dict[sets[k]+10][1])/2))
        
        tk_dict = new_dict
    
    #check dist
    for n in tk_dict.values():
        if dista(a, (n[0], n[1])) > dist_tk:
            dist_tk = dista(a, (n[0], n[1]))
            fahrest_tk = (n[0], n[1])
    
    return fahrest_tk

In [39]:
# создаем словарь и заносим туда тк для каждой опоры
# zones = {}    # (ctow, left tk, right tk)

left_sets = [1, 2, 3, 11, 12, 13, '1', '2', '3', '11', '12', '13']
right_sets = [4, 5, 6, 14, 15, 16, '4', '5', '6', '14', '15', '16']

for n in range(len(cgt_tab)):
    idx = cgt_tab.iloc[n].name
    struct_coo = (cgt_tab.loc[idx, 'x'], cgt_tab.loc[idx, 'y'])
    
    # create dicts for left and right tk and fill them
    ltk_dict = {}    
    rtk_dict = {}
    
    for tk in range(len(tk_tab)):
        if tk_tab.loc[tk, 'id'] == idx:
            if tk_tab.loc[tk, 'set'] in left_sets:
                ltk_dict[tk_tab.loc[tk, 'set']] = (tk_tab.loc[tk, 'x'], tk_tab.loc[tk, 'y'])

            elif tk_tab.loc[tk, 'set'] in right_sets:
                rtk_dict[tk_tab.loc[tk, 'set']] = (tk_tab.loc[tk, 'x'], tk_tab.loc[tk, 'y'])
            
    # choose one fahrest coord from list
    cgt_tab.loc[idx, 'ltk_x'] = fahrestone(struct_coo, ltk_dict)[0]
    cgt_tab.loc[idx, 'ltk_y'] = fahrestone(struct_coo, ltk_dict)[1]
    cgt_tab.loc[idx, 'rtk_x'] = fahrestone(struct_coo, rtk_dict)[0]
    cgt_tab.loc[idx, 'rtk_y'] = fahrestone(struct_coo, rtk_dict)[1]

In [40]:
cgt_tab

,x,y,z,ltk_x,ltk_y,rtk_x,rtk_y
id,,,,,,,
ПС_Мангазея,557439.52,7388308.80,19.58,557442.740,7388315.150,557437.300,7388302.250
1,557468.30,7388296.38,18.98,557468.825,7388301.170,557467.855,7388291.620
2,557639.36,7388332.05,19.05,557638.410,7388336.140,557640.310,7388327.960
3,557890.35,7388384.45,18.88,557890.360,7388389.250,557890.340,7388379.650
4,558117.80,7388335.67,17.08,558118.805,7388340.360,558116.795,7388330.980
...,...,...,...,...,...,...,...
195,572291.98,7359966.88,14.06,572286.650,7359971.655,572296.590,7359961.975
ПС_НПС-1,572300.04,7360000.50,16.41,572293.120,7360001.650,572306.630,7359998.400
4c,558117.80,7388335.67,17.08,558119.880,7388340.130,558117.870,7388330.750
4a,558162.26,7388275.24,18.53,558164.285,7388279.705,558160.235,7388270.775
6c,558333.03,7388289.63,12.32,558332.960,7388294.550,558330.950,7388285.160

In [41]:
# then we need to find lines and build parallel linesof them

# add new cols
cgt_tab.assign(area_c=np.nan, area=np.nan)
list_of_area = []

for n in range(len(cgt_tab)-1):
    idx = cgt_tab.iloc[n].name
    left_line = LineString([(cgt_tab.iloc[n].ltk_x, cgt_tab.iloc[n].ltk_y), (cgt_tab.iloc[n+1].ltk_x, cgt_tab.iloc[n+1].ltk_y)])
    right_line = LineString([(cgt_tab.iloc[n].rtk_x, cgt_tab.iloc[n].rtk_y), (cgt_tab.iloc[n+1].rtk_x, cgt_tab.iloc[n+1].rtk_y)])

    left_paral = left_line.parallel_offset(zona_size, 'left')      # left parallel line
    right_paral = right_line.parallel_offset(zona_size, 'right')      # right parallel line
    
    zona = Polygon([(cgt_tab.iloc[n].x, cgt_tab.iloc[n].y), 
        list(left_paral.coords)[0], 
        list(left_paral.coords)[1],
        (cgt_tab.iloc[n+1].x, cgt_tab.iloc[n+1].y),
        list(right_paral.coords)[0],
        list(right_paral.coords)[1]])
    
    print(zona.area)
    
    list_of_area.append(zona)
    cgt_tab.loc[idx, 'area_c'] = str(list(zona.exterior.coords))
    cgt_tab.loc[idx, 'area'] = zona.area

1605.0712228961254
8521.588869534107
12536.617949871992
11512.891857307628
5399.489835161314
5395.969808396475
10279.341062745945
10644.246683796997
8951.237948897518
12001.329608957472
12283.045977585476
12237.463961875634
12242.90136587658
12190.001892451763
12138.393739027853
12095.96522153164
12048.886893732284
12002.753295525044
11947.936540183768
11895.801313668695
11855.291569827743
11808.19878726247
11763.065803310517
11703.331607247563
10215.66271035877
9855.764857028471
9768.000966918391
9534.23714023029
12433.635477731199
12383.771450996688
12338.269874139594
12289.48547642452
12239.029840704145
12203.189752266759
12139.231113171094
12138.97175890632
12096.125169771742
12055.427080811864
9921.162735008662
9724.31848837294
11546.864033340338
11516.44046941443
11460.132933766097
11424.067213073431
11355.223416379215
11336.676886833262
11268.149698539695
11222.500303603014
11180.002218079819
11122.68941296708
10379.126291279721
11017.519185630686
12352.903089828622
12340.492671975406
11837.846486700317
12725.024398644786
11551.619147946229
11366.6852855797
11319.331590700913
11274.380938648996
11214.353195311385
11234.049806809164
9860.25698106892
10265.016515306426
11314.734244057025
11286.287484209524
11219.300413348436
11177.888046831466
11175.975710331013
11178.47536260989
11131.99275330742
11075.58319373829
11031.365689226983
10978.575312061977
10941.924230489976
10875.717533665893
9435.931822722272
9436.47246880826
9526.542472506733
9285.953300597967
12572.385279108665
12138.475163941817
12824.086766344535
9096.836755064127
11649.69725757417
14520.443201583877
10644.32968649627
14505.122236383128
13065.151814880002
11778.57472154936
12765.468003649075
7581.724657788861
12539.619397960993
15380.081683281905
13177.624931194097
14816.212512330778
18274.871429354334
9610.418920687378
9609.419743491735
9631.334972054387
11176.76026008001
11746.881194104753
13345.25049997354
13609.167587311338
13614.992347116164
13879.917806635052
14148.565109760188
13620.710399485743
13867.737901166282
14142.696757705395
14416.773209382303
14677.5286468831
14951.405496997366
15217.973494058842
11740.310580421392
12001.793242766526
11999.74801774279
12277.279402463886
17349.28552520523
17092.67169543061
17665.68487622417
12807.06623474197
9484.738179708158
9713.662916390136
15326.158700887321
15103.078324562131
14949.56319755608
14576.135544232604
14299.039695139987
15688.785343809977
14954.534714283342
14671.202428974064
14412.353239623795
14309.704991001943
14625.510243623448
15371.781312933046
15368.456562156367
15583.948561446778
15215.091919428614
14953.720926545675
13058.920709534721
2922.60127642655
17616.705172152397
15719.066164117043
13623.694169079676
12806.058214062952
12548.990836451469
12819.76171879861
10314.733174710083
12148.868452308234
14146.852602790213
13874.78394339672
13884.969655650477
13608.57236552761
13605.777827096632
13355.539456449476
11405.394264765568
13404.626737172188
14785.407172498595
14117.701609608237
14716.730879776638
14668.148231714704
16556.318882542717
15742.01457068054
14411.683196497956
14135.752264907804
14194.508913233065
12684.9486326614
14830.184952835492
17033.312496608072
16789.935121707298
15483.150198483205
16552.196356763012
15210.432864712873
10997.276165674159
12873.248698410085
15738.739310553829
15753.127754835208
15461.411122339192
15220.391310973268
14940.27341530987
14684.932568030848
14681.46595751499
13764.740794077969
14525.338500100672
13866.603417868553
12541.061267576963
13728.739440461055
10943.717117051361
17354.52831580827
10672.272163550282
14328.62716108083
5407.889589743213
10951.287251020525
11790.169534883626
1820.016254309015
1340809.7438550747
3569.3460341091745
8349.35832129821

In [42]:
aaa = cgt_tab['area_c'][1]

In [43]:
# save tab
cgt_tab.to_csv(workdir / 'area.txt', sep='\t', encoding = 'cp1251')

In [45]:
list_of_area[5]