парсинг репортов для заполнения таблицы с межфазными габаритами

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from math import sqrt

In [129]:
# пути 
workdir = Path(r'D:\work\2022_m\220_man-van\test\phases')

### часть 1 - расстояния в середине пролета

In [13]:
# read names
phase_tab = pd.read_excel(workdir / 'phases_dist.xlsx', sheet_name='c1')

In [14]:
phase_tab

      span_start   span_end  span_len
0    ПС_Мангазея          1     40.24
1              1          2    106.61
2              2          3    187.55
3              3          4    135.84
4              4          5    147.95
..           ...        ...       ...
603          603        604    179.01
604          604        605    121.73
605          605        606     56.54
606          606        607     66.35
607          607  ПС_Ванкор     29.73

[608 rows x 3 columns]

In [15]:
# calc clearance norm

# добавляем колонки 
phase_tab.assign(norma=np.nan)

for span in range(len(phase_tab)):
#for span in range(3):
    idx = phase_tab.iloc[span].name
    span_len = phase_tab.iloc[span, 2]

    if span_len <= 100:
        norma = 2
    elif 100 < span_len <= 150:
        norma = (span_len - 100)*1.2/50 + 2
    elif 150 < span_len <= 200:
        norma = (span_len - 150)*0.8/50 + 3.2
    elif 200 < span_len <= 300:
        norma = (span_len - 200)*1.5/100 + 4
    elif 300 < span_len <= 400:
        norma = (span_len - 300)*1.5/100 + 5.5
    elif 400 < span_len <= 500:
        norma = (span_len - 400)*1.5/100 + 7
    elif 500 < span_len <= 600:
        norma = (span_len - 500)*1.5/100 + 8.5
    else:
        norma = 10

    print(span_len, round(norma, 1))

    phase_tab.loc[idx, 'norma'] = round(norma, 1)

40.24 2
106.61 2.2
187.55 3.8
135.84 2.9
147.95 3.2
138.08 2.9
244.23 4.7
140.96 3.0
70.07 2
379.14 6.7
309.85 5.6
349.81 6.2
329.85 5.9
329.88 5.9
329.81 5.9
299.88 5.5
319.91 5.8
329.93 5.9
334.93 6.0
337.36 6.1
383.06 6.7
374.37 6.6
287.5 5.3
267.78 5.0
302.1 5.5
353.86 6.3
337.89 6.1
332.85 6.0
329.67 5.9
367.94 6.5
395.84 6.9
389.82 6.8
259.19 4.9
259.94 4.9
329.86 5.9
299.86 5.5
299.88 5.5
309.8 5.6
334.89 6.0
324.3 5.9
334.83 6.0
256.93 4.9
273.54 5.1
295.03 5.4
320.21 5.8
344.84 6.2
328.9 5.9
344.88 6.2
329.92 5.9
344.86 6.2
259.81 4.9
295.51 5.4
334.45 6.0
354.0 6.3
339.57 6.1
300.23 5.5
344.85 6.2
344.74 6.2
339.88 6.1
329.93 5.9
309.88 5.6
252.56 4.8
240.83 4.6
264.96 5.0
379.92 6.7
379.92 6.7
332.21 6.0
231.72 4.5
392.13 6.9
341.12 6.1
167.17 3.5
254.39 4.8
200.04 4.0
200.01 4.0
294.9 5.4
277.5 5.2
307.27 5.6
264.84 5.0
264.94 5.0
274.95 5.1
280.0 5.2
284.78 5.3
284.91 5.3
284.78 5.3
300.03 5.5
254.65 4.8
254.96 4.8
259.96 4.9
259.93 4.9
258.84 4.9
296.02 5.4
279.97 5.2
259.84 4.9
264.91 5.0
278.28 5.2
221.67 4.3
273.61 5.1
275.38 5.1
265.66 5.0
264.83 5.0
300.53 5.5
314.33 5.7
243.34 4.7
301.57 5.5
294.89 5.4
285.05 5.3
204.81 4.1
234.85 4.5
228.75 4.4
210.94 4.2
274.91 5.1
270.91 5.1
298.94 5.5
284.93 5.3
264.74 5.0
315.11 5.7
301.29 5.5
298.28 5.5
300.01 5.5
299.78 5.5
301.97 5.5
298.05 5.5
299.66 5.5
299.97 5.5
234.58 4.5
332.75 6.0
247.42 4.7
260.07 4.9
280.88 5.2
356.79 6.4
251.81 4.8
255.24 4.8
266.59 5.0
252.31 4.8
274.37 5.1
256.4 4.8
264.99 5.0
236.43 4.5
177.28 3.6
180.59 3.7
343.35 6.2
231.08 4.5
241.17 4.6
358.41 6.4
280.95 5.2
281.34 5.2
273.46 5.1
234.94 4.5
323.06 5.8
296.3 5.4
249.04 4.7
282.65 5.2
217.95 4.3
124.77 2.6
265.57 5.0
279.71 5.2
179.99 3.7
188.97 3.8
260.5 4.9
373.98 6.6
265.39 5.0
301.74 5.5
308.62 5.6
309.83 5.6
289.93 5.3
249.85 4.7
202.93 4.0
201.82 4.0
201.93 4.0
202.33 4.0
125.61 2.6
299.82 5.5
289.97 5.3
289.89 5.3
294.92 5.4
339.78 6.1
299.85 5.5
299.92 5.5
250.1 4.8
290.05 5.4
329.7 5.9
159.99 3.4
259.84 4.9
309.99 5.6
229.88 4.4
206.22 4.1
209.93 4.1
260.25 4.9
284.57 5.3
289.85 5.3
289.93 5.3
294.9 5.4
299.87 5.5
299.86 5.5
340.05 6.1
234.86 4.5
351.69 6.3
163.15 3.4
306.59 5.6
290.82 5.4
302.24 5.5
251.32 4.8
278.48 5.2
314.06 5.7
205.87 4.1
224.48 4.4
180.56 3.7
269.85 5.0
314.89 5.7
314.88 5.7
298.84 5.5
226.09 4.4
294.7 5.4
290.15 5.4
284.65 5.3
255.01 4.8
255.02 4.8
237.7 4.6
111.93 2.3
209.88 4.1
314.63 5.7
254.89 4.8
314.78 5.7
324.84 5.9
304.9 5.6
299.8 5.5
294.74 5.4
319.92 5.8
295.05 5.4
284.02 5.3
309.84 5.6
305.57 5.6
284.83 5.3
324.97 5.9
274.94 5.1
319.81 5.8
159.99 3.4
234.99 4.5
229.8 4.4
249.82 4.7
255.0 4.8
260.02 4.9
264.8 5.0
269.97 5.0
274.94 5.1
273.61 5.1
279.73 5.2
284.86 5.3
290.15 5.4
264.8 5.0
354.89 6.3
255.0 4.8
259.51 4.9
264.99 5.0
294.69 5.4
299.96 5.5
314.87 5.7
249.49 4.7
240.1 4.6
279.88 5.2
284.93 5.3
304.86 5.6
300.01 5.5
269.38 5.0
274.97 5.1
279.89 5.2
279.91 5.2
264.93 5.0
334.96 6.0
274.53 5.1
234.9 4.5
235.05 4.5
239.92 4.6
269.89 5.0
274.6 5.1
274.98 5.1
279.88 5.2
284.87 5.3
289.66 5.3
289.91 5.3
294.98 5.4
179.92 3.7
179.59 3.7
265.02 5.0
269.76 5.0
269.78 5.0
274.93 5.1
279.97 5.2
279.84 5.2
284.91 5.3
269.6 5.0
304.85 5.6
294.9 5.4
294.78 5.4
304.88 5.6
304.89 5.6
279.92 5.2
324.88 5.9
309.95 5.6
239.12 4.6
204.47 4.1
224.87 4.4
225.0 4.4
222.79 4.3
326.85 5.9
244.89 4.7
244.93 4.7
260.04 4.9
199.9 4.0
329.93 5.9
304.87 5.6
304.62 5.6
309.96 5.6
309.89 5.6
264.98 5.0
239.87 4.6
289.84 5.3
290.01 5.4
294.8 5.4
239.94 4.6
239.89 4.6
244.98 4.7
249.91 4.7
249.98 4.7
254.68 4.8
259.94 4.9
264.85 5.0
270.06 5.1
269.85 5.0
274.9 5.1
279.89 5.2
315.02 5.7
304.81 5.6
294.87 5.4
224.97 4.4
365.8 6.5
193.93 3.9
249.97 4.7
244.92 4.7
244.99 4.7
293.21 5.4
324.5 5.9
339.78 6.1
174.94 3.6
179.99 3.7
172.85 3.6
315.67 5.7
241.07 4.6
244.84 4.7
244.92 4.7
250.04 4.8
254.8 4.8
279.91 5.2
209.93 4.1
214.78 4.2
235.01 4.5
229.93 4.4
230.0 4.4
284.85 5.3
289.95 5.3
294.63 5.4
304.99 5.6
309.86 5.6
304.87 5.6
314.95 5.7
275.43 5.1
369.64 6.5
269.97 5.0
299.97 5.5
339.84 6.1
249.97 4.7
242.22 4.6
307.68 5.6
294.68 5.4
270.08 5.1
284.78 5.3
289.93 5.3
289.9 5.3
274.73 5.1
279.99 5.2
284.91 5.3
289.95 5.3
294.59 5.4
299.94 5.5
324.78 5.9
260.17 4.9
259.93 4.9
269.85 5.0
269.89 5.0
249.94 4.7
254.92 4.8
249.2 4.7
242.33 4.6
293.0 5.4
214.91 4.2
229.95 4.4
229.86 4.4
274.87 5.1
250.14 4.8
254.77 4.8
249.87 4.7
254.77 4.8
309.93 5.6
189.95 3.8
259.72 4.9
264.91 5.0
264.94 5.0
269.99 5.0
274.82 5.1
274.95 5.1
236.21 4.5
258.55 4.9
275.03 5.1
279.86 5.2
279.93 5.2
284.81 5.3
279.82 5.2
299.88 5.5
309.94 5.6
289.6 5.3
344.84 6.2
279.97 5.2
304.87 5.6
339.91 6.1
294.9 5.4
294.85 5.4
219.98 4.3
329.87 5.9
184.98 3.8
254.81 4.8
259.92 4.9
259.94 4.9
264.89 5.0
269.89 5.0
264.99 5.0
269.79 5.0
269.96 5.0
274.82 5.1
280.01 5.2
279.83 5.2
284.87 5.3
289.91 5.3
299.94 5.5
174.43 3.6
117.41 2.4
250.07 4.8
294.92 5.4
331.59 6.0
257.85 4.9
229.97 4.4
249.98 4.7
288.85 5.3
285.99 5.3
274.78 5.1
305.01 5.6
294.8 5.4
309.94 5.6
314.94 5.7
304.84 5.6
304.87 5.6
289.83 5.3
315.88 5.7
278.88 5.2
244.87 4.7
239.86 4.6
241.57 4.6
118.39 2.4
224.84 4.4
204.77 4.1
292.95 5.4
283.03 5.2
225.54 4.4
192.91 3.9
223.95 4.4
381.07 6.7
259.91 4.9
264.86 5.0
254.93 4.8
293.71 5.4
348.89 6.2
201.93 4.0
185.48 3.8
255.85 4.8
250.0 4.8
299.83 5.5
289.94 5.3
304.92 5.6
334.9 6.0
304.87 5.6
324.91 5.9
289.83 5.3
235.01 4.5
324.91 5.9
324.8 5.9
245.07 4.7
314.87 5.7
279.91 5.2
299.7 5.5
264.93 5.0
259.78 4.9
335.02 6.0
265.75 5.0
198.95 4.0
309.8 5.6
279.92 5.2
174.93 3.6
274.95 5.1
279.8 5.2
304.92 5.6
309.83 5.6
299.9 5.5
314.83 5.7
319.92 5.8
274.85 5.1
294.93 5.4
179.91 3.7
275.0 5.1
194.73 3.9
274.88 5.1
274.9 5.1
299.97 5.5
329.74 5.9
264.88 5.0
274.94 5.1
330.27 6.0
239.25 4.6
289.83 5.3
259.98 4.9
274.85 5.1
319.75 5.8
160.09 3.4
319.8 5.8
269.93 5.0
234.94 4.5
249.78 4.7
264.86 5.0
274.85 5.1
324.96 5.9
224.93 4.4
359.91 6.4
259.86 4.9
294.83 5.4
334.79 6.0
304.98 5.6
329.91 5.9
287.83 5.3
231.72 4.5
319.92 5.8
289.95 5.3
239.27 4.6
295.42 5.4
244.93 4.7
304.71 5.6
289.95 5.3
309.89 5.6
314.9 5.7
289.97 5.3
304.85 5.6
334.8 6.0
289.87 5.3
279.95 5.2
334.91 6.0
289.76 5.3
309.87 5.6
329.93 5.9
274.82 5.1
349.95 6.2
259.79 4.9
239.85 4.6
292.78 5.4
277.08 5.2
279.93 5.2
284.8 5.3
284.91 5.3
289.99 5.3
339.85 6.1
274.91 5.1
314.53 5.7
319.81 5.8
230.13 4.5
304.84 5.6
334.86 6.0
269.9 5.0
309.86 5.6
289.99 5.3
319.84 5.8
247.59 4.7
227.26 4.4
304.78 5.6
299.88 5.5
300.14 5.5
324.68 5.9
289.98 5.3
299.73 5.5
309.94 5.6
295.0 5.4
334.78 6.0
177.8 3.6
252.21 4.8
238.81 4.6
255.99 4.8
309.81 5.6
294.95 5.4
179.01 3.7
121.73 2.5
56.54 2
66.35 2
29.73 2

In [16]:
phase_tab

      span_start   span_end  span_len  norma
0    ПС_Мангазея          1     40.24    2.0
1              1          2    106.61    2.2
2              2          3    187.55    3.8
3              3          4    135.84    2.9
4              4          5    147.95    3.2
..           ...        ...       ...    ...
603          603        604    179.01    3.7
604          604        605    121.73    2.5
605          605        606     56.54    2.0
606          606        607     66.35    2.0
607          607  ПС_Ванкор     29.73    2.0

[608 rows x 4 columns]

In [26]:
# read phases clearances
clearance_tab = pd.read_excel(workdir / 'phases_dist.xlsx', sheet_name='wir2wir_2c')

In [27]:
clearance_tab

,Row #,Source Start Structure,Source End Structure,Source Set,Source Phase,Source Wind From,Target Start Structure,Target End Structure,Target Set,Target Phase,Target Wind From,Station At Min. (m),Source Sag At Min. (m),Target Sag At Min. (m),Required Distance At Min. (m),Minimum Distance Total (m),Minimum Distance Horz. Comp. (m),Minimum Distance Vert. Comp. (m),Comment
0,1,ПС_Мангазея,1,14,1,Left,ПС_Мангазея,1,15,1,Left,3.46,0.00,0.06,1,3.758,3.520,-1.316,NaN
1,2,ПС_Мангазея,1,14,1,Left,ПС_Мангазея,1,16,1,Left,23.64,0.84,0.82,1,5.819,4.373,-3.839,NaN
2,3,ПС_Мангазея,1,14,1,Left,1,2,14,1,Left,38.46,0.00,0.00,1,7.143,7.127,-0.472,NaN
3,4,ПС_Мангазея,1,14,1,Left,1,2,15,1,Left,38.46,0.00,0.00,1,10.176,7.450,-6.932,NaN
4,5,ПС_Мангазея,1,15,1,Left,ПС_Мангазея,1,16,1,Left,5.67,0.24,0.33,1,3.567,3.436,0.957,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,5517,606,607,16,1,Left,607,ÏÑ_Âàíêîð,15,1,Left,166869.19,0.00,0.00,1,10.634,7.875,7.146,NaN
5517,5518,606,607,16,1,Left,607,ÏÑ_Âàíêîð,16,1,Left,166869.19,0.00,0.00,1,7.244,7.133,1.260,NaN
5518,5519,607,ÏÑ_Âàíêîð,14,1,Left,607,ÏÑ_Âàíêîð,15,1,Left,166891.75,0.40,0.45,1,2.698,1.979,-1.834,NaN
5519,5520,607,ÏÑ_Âàíêîð,14,1,Left,607,ÏÑ_Âàíêîð,16,1,Left,166892.22,0.38,0.42,1,6.492,5.553,-3.362,NaN
5520,5521,607,ÏÑ_Âàíêîð,15,1,Left,607,ÏÑ_Âàíêîð,16,1,Left,166895.50,0.21,0.20,1,3.784,3.627,-1.078,NaN

In [28]:
# добавляем колонки 
phase_tab.assign(mindist=np.nan, phnames=np.nan)

# идем по таблице 
for span in range(len(phase_tab)):
#for span in range(3):
    idx = phase_tab.iloc[span].name
    span_start = phase_tab.iloc[span, 0]
    select = clearance_tab.loc[clearance_tab['Source Start Structure '] == span_start].loc[clearance_tab['Target Start Structure '] == span_start][['Source Set  ', 'Target Set  ', 'Minimum Distance Total (m)']]
    
    if len(select) > 0:
        select2 = select[select['Minimum Distance Total (m)'] == min(select['Minimum Distance Total (m)'])]
        #print(span_start, str(select2.iloc[0, 0]) + ' - ' + str(select2.iloc[0, 1]) + ', ' + str(select2.iloc[0, 2]))
        phase_tab.loc[idx, 'mindist'] = select2.iloc[0, 2]
        phase_tab.loc[idx, 'phnames'] = str(select2.iloc[0, 0]) + ' - ' + str(select2.iloc[0, 1])
    else:
        print(span_start)

In [29]:
phase_tab

,span_start,span_end,span_len,norma,mindist,phnames,mindist_ew,phtoew,ewvert
0,ПС_Мангазея,1,40.24,2.0,3.567,15 - 16,6.153,17 - 12,5.670
1,1,2,106.61,2.2,6.482,14 - 15,8.376,17 - 13,7.997
2,2,3,187.55,3.8,6.196,4 - 5,7.944,7 - 3,7.618
3,3,4,135.84,2.9,6.185,15 - 16,8.437,17 - 13,8.129
4,4,5,147.95,3.2,6.418,15 - 16,8.674,18 - 13,8.181
...,...,...,...,...,...,...,...,...,...
603,603,604,179.01,3.7,6.250,4 - 5,8.727,8 - 3,7.521
604,604,605,121.73,2.5,5.746,14 - 15,NaN,NaN,NaN
605,605,606,56.54,2.0,6.603,15 - 16,8.308,17 - 13,7.985
606,606,607,66.35,2.0,6.419,15 - 16,8.702,17 - 13,8.448
607,607,ПС_Ванкор,29.73,2.0,2.698,14 - 15,NaN,NaN,NaN

In [48]:
clearance_tab.columns

Index(['Row #', 'Source Start Structure ', 'Source End Structure ',
       'Source Set  ', 'Source Phase  ', 'Source Wind From ',
       'Target Start Structure ', 'Target End Structure ', 'Target Set  ',
       'Target Phase  ', 'Target Wind From ', 'Station At Min.  (m)',
       'Source Sag At Min. (m)', 'Target Sag At Min. (m)',
       'Required Distance At Min. (m)', 'Minimum Distance Total (m)',
       'Minimum Distance Horz. Comp. (m)', 'Minimum Distance Vert. Comp. (m)',
       'Comment'],
      dtype='object')

In [31]:
# read ew clearances
clearance_tab = pd.read_excel(workdir / 'phases_dist.xlsx', sheet_name='ew_2c')

In [32]:
clearance_tab

,Row #,Source Start Structure,Source End Structure,Source Set,Source Phase,Source Wind From,Target Start Structure,Target End Structure,Target Set,Target Phase,Target Wind From,Station At Min. (m),Source Sag At Min. (m),Target Sag At Min. (m),Required Distance At Min. (m),Minimum Distance Total (m),Minimum Distance Horz. Comp. (m),Minimum Distance Vert. Comp. (m),Comment
0,1,ПС_Мангазея,1,17,1,Left,ПС_Мангазея,1,15,1,Left,36.82,0.52,0.00,1,10.829,7.351,7.951,NaN
1,2,ПС_Мангазея,1,17,1,Left,1,2,16,1,Left,39.11,0.00,0.00,1,10.394,6.509,8.103,NaN
2,3,ПС_Мангазея,1,18,1,Left,ПС_Мангазея,1,14,1,Left,2.85,0.49,0.00,1,8.099,3.686,7.211,NaN
3,4,ПС_Мангазея,1,18,1,Left,ПС_Мангазея,1,15,1,Left,25.66,2.22,0.70,1,7.630,4.932,5.821,NaN
4,5,ПС_Мангазея,1,18,1,Left,ПС_Мангазея,1,16,1,Left,14.60,2.13,0.79,1,11.971,8.934,7.968,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,1934,606,607,17,1,Left,606,607,16,1,Left,166807.29,0.00,0.00,1,10.250,5.573,8.603,NaN
1934,1935,606,607,17,1,Left,607,ÏÑ_Âàíêîð,16,1,Left,166872.55,0.00,0.00,1,12.182,6.987,9.979,NaN
1935,1936,606,607,18,1,Left,605,606,16,1,Left,166805.68,0.00,0.00,1,9.583,4.209,8.609,NaN
1936,1937,606,607,18,1,Left,606,607,16,1,Left,166807.38,0.13,0.00,1,8.939,2.778,8.496,NaN
1937,1938,606,607,18,1,Left,607,ÏÑ_Âàíêîð,16,1,Left,166872.03,0.00,0.00,1,10.872,4.333,9.972,NaN

In [51]:
clearance_tab.columns

Index(['Row #', 'Source Start Structure ', 'Source End Structure ',
       'Source Set  ', 'Source Phase  ', 'Source Wind From ',
       'Target Start Structure ', 'Target End Structure ', 'Target Set  ',
       'Target Phase  ', 'Target Wind From ', 'Station At Min.  (m)',
       'Source Sag At Min. (m)', 'Target Sag At Min. (m)',
       'Required Distance At Min. (m)', 'Minimum Distance Total (m)',
       'Minimum Distance Horz. Comp. (m)', 'Minimum Distance Vert. Comp. (m)',
       'Comment'],
      dtype='object')

In [33]:
# calc ew 3d dist

# добавляем колонки 
phase_tab.assign(mindist_ew=np.nan, phtoew=np.nan, ewvert=np.nan,)

# идем по таблице 
for span in range(len(phase_tab)):
#for span in range(3):
    idx = phase_tab.iloc[span].name
    span_start = phase_tab.iloc[span, 0]
    select = clearance_tab.loc[clearance_tab['Source Start Structure '] == span_start].loc[clearance_tab['Target Start Structure '] == span_start][['Source Set  ', 'Target Set  ', 'Minimum Distance Total (m)', 'Minimum Distance Vert. Comp. (m)']]
    #print(select)
    if len(select) > 0:
        select2 = select[select['Minimum Distance Total (m)'] == min(select['Minimum Distance Total (m)'])]
      
        #print(select2)
        phase_tab.loc[idx, 'mindist_ew'] = select2.iloc[0, 2]
        phase_tab.loc[idx, 'phtoew'] = str(select2.iloc[0, 0]) + ' - ' + str(select2.iloc[0, 1])
        phase_tab.loc[idx, 'ewvert'] = select2.iloc[0, 3]

In [34]:
phase_tab

,span_start,span_end,span_len,norma,mindist,phnames,mindist_ew,phtoew,ewvert
0,ПС_Мангазея,1,40.24,2.0,3.567,15 - 16,7.630,18 - 15,5.821
1,1,2,106.61,2.2,6.482,14 - 15,8.614,18 - 16,8.130
2,2,3,187.55,3.8,6.196,4 - 5,8.602,8 - 6,8.051
3,3,4,135.84,2.9,6.185,15 - 16,8.628,18 - 16,8.063
4,4,5,147.95,3.2,6.418,15 - 16,8.563,17 - 16,8.025
...,...,...,...,...,...,...,...,...,...
603,603,604,179.01,3.7,6.250,4 - 5,7.911,8 - 6,7.300
604,604,605,121.73,2.5,5.746,14 - 15,NaN,NaN,NaN
605,605,606,56.54,2.0,6.603,15 - 16,8.187,18 - 16,7.610
606,606,607,66.35,2.0,6.419,15 - 16,8.939,18 - 16,8.496
607,607,ПС_Ванкор,29.73,2.0,2.698,14 - 15,NaN,NaN,NaN

In [35]:
# save tab
phase_tab.to_csv(workdir / 'phases_c2.txt', sep='\t', encoding = 'cp1251')

### теперь найдем расстояния между тк на опоре

In [130]:
# read id 

phase2_tab = pd.read_excel(workdir / 'clearance_grd.xlsx', sheet_name='str_names', names=['id'], usecols='A')

In [131]:
phase2_tab

              id
0    ПС_Мангазея
1              1
2              2
3              3
4              4
..           ...
604          604
605          605
606          606
607          607
608    ПС_Ванкор

[609 rows x 1 columns]

In [132]:
# read tk  

tk_tab = pd.read_excel(workdir / 'clearance_grd.xlsx', sheet_name='attach', names=['id', 'set', 'x', 'y', 'z'], usecols='B,C,L,M,N')

In [133]:
tk_tab

               id  set          x           y      z
0     ПС_Мангазея    1  557359.31  7388265.89  36.47
1     ПС_Мангазея    2  557355.83  7388267.29  37.12
2     ПС_Мангазея    3  557352.48  7388268.92  36.00
3     ПС_Мангазея    4  557345.55  7388271.77  36.01
4     ПС_Мангазея    5  557342.17  7388273.08  37.21
...           ...  ...        ...         ...    ...
4657    ПС_Ванкор    2  603919.55  7513480.57  53.36
4658    ПС_Ванкор    3  603916.57  7513481.75  54.18
4659    ПС_Ванкор    4  603909.03  7513484.14  54.84
4660    ПС_Ванкор    5  603905.40  7513485.15  54.17
4661    ПС_Ванкор    6  603902.24  7513485.85  53.64

[4662 rows x 5 columns]

In [134]:
from math import sqrt

def dist(a, b):
    dx = a[0] - b[0]
    dy = a[1] - b[1]
    dz = a[2] - b[2]
    
    return round(sqrt(dx*dx + dy*dy + dz*dz), 2)

In [135]:
phase2_tab.assign(l_min=np.nan, l_name=np.nan, r_min=np.nan, r_name=np.nan)


for n in range(len(phase2_tab)):
#for n in range(3):
    idx = phase2_tab.iloc[n].name
    structure = phase2_tab.iloc[n, 0]
    # водим таблицу только для выбранной опоры и только сеты не больше 10
    select = tk_tab.loc[tk_tab['id'] == structure].loc[tk_tab['set'] < 10]
    
    select_l = select.loc[select['set'] < 4]
    select_r = select.loc[select['set'] > 3].loc[select['set'] < 7]
    select_ew = select.loc[select['set'] > 6]
    #print(len(select_l), len(select_r), structure)
    
    res = []    
    for li in [select_l, select_r]:
        if len(li) > 0:
            cl_list = []
            cl_list.append((dist((li.iloc[0, 2], li.iloc[0, 3], li.iloc[0, 4]), 
                           (li.iloc[1, 2], li.iloc[1, 3], li.iloc[1, 4])), '1-2'))
            cl_list.append((dist((li.iloc[0, 2], li.iloc[0, 3], li.iloc[0, 4]), 
                           (li.iloc[2, 2], li.iloc[2, 3], li.iloc[2, 4])), '1-3'))
            cl_list.append((dist((li.iloc[1, 2], li.iloc[1, 3], li.iloc[1, 4]), 
                           (li.iloc[2, 2], li.iloc[2, 3], li.iloc[2, 4])), '2-3'))
            if len(select_ew) > 0:
                cl_list.append((dist((li.iloc[0, 2], li.iloc[0, 3], li.iloc[0, 4]), 
                                    (select_ew.iloc[0, 2], select_ew.iloc[0, 3], select_ew.iloc[0, 4])), 'ew-1'))
                cl_list.append((dist((li.iloc[1, 2], li.iloc[1, 3], li.iloc[1, 4]), 
                                    (select_ew.iloc[0, 2], select_ew.iloc[0, 3], select_ew.iloc[0, 4])), 'ew-2'))
                cl_list.append((dist((li.iloc[2, 2], li.iloc[2, 3], li.iloc[2, 4]), 
                                    (select_ew.iloc[0, 2], select_ew.iloc[0, 3], select_ew.iloc[0, 4])), 'ew-3'))
        
            res.append(sorted(cl_list)[0])
        else:
            res.append((0, 0))
        
    #print(res[0][0])
    phase2_tab.loc[idx, 'l_min'] = res[0][0]
    phase2_tab.loc[idx, 'l_name'] = res[0][1]
    phase2_tab.loc[idx, 'r_min'] = res[1][0]
    phase2_tab.loc[idx, 'r_name'] = res[1][1]

In [136]:
phase2_tab

              id  l_min l_name  r_min r_name
0    ПС_Мангазея   3.81    1-2   3.79    2-3
1              1   6.30    1-2   6.40    2-3
2              2   6.55    1-2   6.52    1-2
3              3   6.79    1-2   6.78    1-2
4              4   6.82    1-2   6.74    2-3
..           ...    ...    ...    ...    ...
604          604   6.79    1-2   6.76    1-2
605          605   6.59    1-2   6.64    1-2
606          606   6.76    2-3   6.76    2-3
607          607   6.78    2-3   6.70    2-3
608    ПС_Ванкор   3.31    2-3   3.28    2-3

[609 rows x 5 columns]

### теперь тоже самое но только тросы и вертикаль

In [137]:
for n in range(len(phase2_tab)):
#for n in range(3):
    idx = phase2_tab.iloc[n].name
    structure = phase2_tab.iloc[n, 0]

    select = tk_tab.loc[tk_tab['id'] == structure]
    
    left_z = []
    right_z = []
    ew_z = []

    left_z.extend(list(select.loc[select['set'] < 4]['z'].values))
    left_z.extend(list(select.loc[select['set'] > 10].loc[select['set'] < 14]['z'].values))
    
    right_z.extend(list(select.loc[select['set'] > 3].loc[select['set'] < 7]['z'].values))
    right_z.extend(list(select.loc[select['set'] > 13].loc[select['set'] < 17]['z'].values))
    
    ew_z.extend(list(select.loc[select['set'] > 6].loc[select['set'] < 10]['z'].values))
    ew_z.extend(list(select.loc[select['set'] > 16].loc[select['set'] < 19]['z'].values))

    #print(structure, left_z, right_z, ew_z)
    
    if len(ew_z) > 0:
        
        if len(left_z) > 0:
            l_min = round((min(ew_z) - max(left_z)), 2)
        else:
            l_min = '-'

        if len(right_z) > 0:
            r_min = round((min(ew_z) - max(right_z)), 2)
        else:
            r_min = '-'
    else:
        r_min = l_min = '-'
    
        
    
    #print(l_min, r_min)
    
    phase2_tab.loc[idx, 'ewl_vert'] = l_min
    phase2_tab.loc[idx, 'ewr_vert'] = r_min

In [138]:
phase2_tab

              id  l_min l_name  r_min r_name ewl_vert ewr_vert
0    ПС_Мангазея   3.81    1-2   3.79    2-3      5.9     5.81
1              1   6.30    1-2   6.40    2-3     8.09     8.11
2              2   6.55    1-2   6.52    1-2     9.42     9.44
3              3   6.79    1-2   6.78    1-2     8.06     8.23
4              4   6.82    1-2   6.74    2-3     8.48      8.5
..           ...    ...    ...    ...    ...      ...      ...
604          604   6.79    1-2   6.76    1-2     8.25     8.03
605          605   6.59    1-2   6.64    1-2     8.84      8.9
606          606   6.76    2-3   6.76    2-3     8.55     8.56
607          607   6.78    2-3   6.70    2-3     8.86     8.72
608    ПС_Ванкор   3.31    2-3   3.28    2-3        -        -

[609 rows x 7 columns]

### теперь середины пролетов - мин разница с тросом по вертикали

In [140]:
# read tk  again

tk_tab = pd.read_excel(workdir / 'clearance_grd.xlsx', sheet_name='attach', names=['id', 'set', 'z'], usecols='B,C,Q')

In [141]:
tk_tab

               id  set      z
0     ПС_Мангазея    1  37.55
1     ПС_Мангазея    2  40.82
2     ПС_Мангазея    3  34.50
3     ПС_Мангазея    4  34.27
4     ПС_Мангазея    5  40.98
...           ...  ...    ...
4657    ПС_Ванкор    2   0.00
4658    ПС_Ванкор    3   0.00
4659    ПС_Ванкор    4   0.00
4660    ПС_Ванкор    5   0.00
4661    ПС_Ванкор    6   0.00

[4662 rows x 3 columns]

In [142]:
for n in range(len(phase2_tab)):
#for n in range(3):
    idx = phase2_tab.iloc[n].name
    structure = phase2_tab.iloc[n, 0]

    select = tk_tab.loc[tk_tab['id'] == structure]
    if len(select) > 10:
        select = tk_tab.loc[tk_tab['id'] == structure].loc[select['set'] > 10]

   
    left_z = []
    right_z = []
    ew_z = []

    left_z.extend(list(select.loc[select['set'] < 4]['z'].values))
    left_z.extend(list(select.loc[select['set'] > 10].loc[select['set'] < 14]['z'].values))
    
    right_z.extend(list(select.loc[select['set'] > 3].loc[select['set'] < 7]['z'].values))
    right_z.extend(list(select.loc[select['set'] > 13].loc[select['set'] < 17]['z'].values))
    
    ew_z.extend(list(select.loc[select['set'] > 6].loc[select['set'] < 10]['z'].values))
    ew_z.extend(list(select.loc[select['set'] > 16].loc[select['set'] < 19]['z'].values))

    
    #print(structure, left_z, right_z, ew_z)
    
    if len(ew_z) > 0:
        
        if len(left_z) > 0:
            l_min = round((min(ew_z) - max(left_z)), 2)
        else:
            l_min = '-'

        if len(right_z) > 0:
            r_min = round((min(ew_z) - max(right_z)), 2)
        else:
            r_min = '-'
    else:
        r_min = l_min = '-'
    
        
    
    #print(l_min, r_min)
    
    phase2_tab.loc[idx, 'l_mid_vert'] = l_min
    phase2_tab.loc[idx, 'r_mid_vert'] = r_min

In [143]:
# save tab
phase2_tab.to_csv(workdir / 'phases_struct.txt', sep='\t', encoding = 'cp1251')