парсинг файлов опор для вычленения оттуда углов наклона осей

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [13]:
# пути 
workdir = Path(r'D:\work\2022_m\220_man-van\test\new_angles')
strdir = Path(r'D:\work\2022_m\220_man-van\test\new_angles\Stick')

In [23]:
# read names
cgt_tab = pd.read_excel(workdir / 'clearance_grd.xlsx', index_col=0, names=['id', 'path'], sheet_name='str_names')

In [24]:
cgt_tab

                                  path
id
ПС_Мангазея             port_start.stk
1                 u220-2t_stp_m001.stk
2                2p220-2t_sus_m000.stk
3            u220-2t-wide_stp_m003.stk
4            u220-2t-wide_stp_m004.stk
...                                ...
604                u220-2_stp_m604.stk
605                u220-2_stp_m605.stk
606                u220-2_stp_m606.stk
607                u220-2_stp_m607.stk
ПС_Ванкор                 port_end.stk

[609 rows x 1 columns]

In [44]:
# add new cols
cgt_tab.assign(dx=np.nan, dy=np.nan)

for stk in range(len(cgt_tab)):
    idx = cgt_tab.iloc[stk].name
    with open(strdir / cgt_tab.iloc[stk].path) as str_file:
        lines = str_file.readlines()
        cgt_tab.loc[idx, 'dx'] = -float(lines[11].split()[0])
        cgt_tab.loc[idx, 'dy'] = float(lines[11].split()[1])
        #print(lines[11].split()[0], lines[11].split()[1])

In [45]:
cgt_tab

                                  path    dx    dy
id
ПС_Мангазея             port_start.stk  0.10  0.00
1                 u220-2t_stp_m001.stk  0.11  0.00
2                2p220-2t_sus_m000.stk -0.00  0.00
3            u220-2t-wide_stp_m003.stk  0.07 -0.17
4            u220-2t-wide_stp_m004.stk -0.00  0.00
...                                ...   ...   ...
604                u220-2_stp_m604.stk -0.05 -0.94
605                u220-2_stp_m605.stk -0.00  0.00
606                u220-2_stp_m606.stk -0.00  0.00
607                u220-2_stp_m607.stk  0.31 -0.64
ПС_Ванкор                 port_end.stk -0.00  0.00

[609 rows x 3 columns]

In [46]:
# save tab
cgt_tab.to_csv(workdir / 'lean_angles.txt', sep='\t', encoding = 'cp1251')