### ew angles

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from math import sqrt

In [2]:
# пути 
workdir = Path(r'D:\work\2022_m\220_man-van\test\phases')
#workdir = Path(r'D:\work\2022_m\110_man-nps1\test\phases')

In [3]:
# read id 
phase_tab = pd.read_excel(workdir / 'clearance_grd.xlsx', sheet_name='str_names', names=['id'], usecols='A')

In [4]:
phase_tab

              id
0    ПС_Мангазея
1              1
2              2
3              3
4              4
..           ...
604          604
605          605
606          606
607          607
608    ПС_Ванкор

[609 rows x 1 columns]

In [6]:
# read tk  

tk_tab = pd.read_excel(workdir / 'clearance_grd.xlsx', sheet_name='attach', 
                       names=['id', 'set', 'tx', 'ty', 'tz', 'mx', 'my', 'mz'], usecols='B,C,L:Q')

In [7]:
tk_tab

,id,set,tx,ty,tz,mx,my,mz
0,ПС_Мангазея,1,557359.31,7388265.89,36.47,557354.42,7388252.88,37.55
1,ПС_Мангазея,2,557355.83,7388267.29,37.12,557351.53,7388253.25,40.82
2,ПС_Мангазея,3,557352.48,7388268.92,36.00,557349.74,7388254.34,34.50
3,ПС_Мангазея,4,557345.55,7388271.77,36.01,557341.85,7388254.65,34.27
4,ПС_Мангазея,5,557342.17,7388273.08,37.21,557339.99,7388255.18,40.98
...,...,...,...,...,...,...,...,...
4657,ПС_Ванкор,2,603919.55,7513480.57,53.36,0.00,0.00,0.00
4658,ПС_Ванкор,3,603916.57,7513481.75,54.18,0.00,0.00,0.00
4659,ПС_Ванкор,4,603909.03,7513484.14,54.84,0.00,0.00,0.00
4660,ПС_Ванкор,5,603905.40,7513485.15,54.17,0.00,0.00,0.00
4661,ПС_Ванкор,6,603902.24,7513485.85,53.64,0.00,0.00,0.00

In [28]:
def dist3d(a, b):
    dx = a[0] - b[0]
    dy = a[1] - b[1]
    dz = a[2] - b[2]
    
    return round(sqrt(dx*dx + dy*dy + dz*dz), 2)

In [29]:
def dist2d(a, b):
    dx = a[0] - b[0]
    dy = a[1] - b[1]
    
    return round(sqrt(dx*dx + dy*dy), 2)

In [36]:
# сначала найдем глы на опоре.
# находим левую и правую верхние ТК, затем ближайшие к ним тросы
# расчет на две цепи при всегда верхних 3 и 6 сетах - т.к. это почти все опоры
# порталы и особые случаи считать вручную

ew_sets = [7, 8, 17, 18]

#for n in range(len(phase2_tab)):
for n in range(3):
    idx = phase_tab.iloc[n].name
    structure = phase_tab.iloc[n, 0]
    select = tk_tab.loc[tk_tab['id'] == structure]
    
    setlist = list(select['set'].values)
    
    #firstly check if there is any EW
    if len(set(ew_sets.extend(setlist)) == len(ew_sets) + len(setlist):
        # no ew
        lt_ang = rt_ang = 0
    else:
        # here is some ew
           
        # find left and right points
        if len(select) > 10:
            left_t = (float(select.loc[select['set'] == 13].tx), 
                      float(select.loc[select['set'] == 13].ty),
                      float(select.loc[select['set'] == 13].tz)) 
            right_t = (float(select.loc[select['set'] == 16].tx), 
                      float(select.loc[select['set'] == 16].ty),
                      float(select.loc[select['set'] == 16].tz)) 
        else:
            if len(select) > 5:
                left_t = (float(select.loc[select['set'] == 3].tx), 
                          float(select.loc[select['set'] == 3].ty),
                          float(select.loc[select['set'] == 3].tz)) 
                right_t = (float(select.loc[select['set'] == 6].tx), 
                          float(select.loc[select['set'] == 6].ty),
                          float(select.loc[select['set'] == 6].tz)) 
            else:
                left_t = (float(select.loc[select['set'] == 2].tx), 
                          float(select.loc[select['set'] == 2].ty),
                          float(select.loc[select['set'] == 2].tz)) 
                right_t = (float(select.loc[select['set'] == 3].tx), 
                          float(select.loc[select['set'] == 3].ty),
                          float(select.loc[select['set'] == 3].tz)) 

        #print(left_t, right_t)

        # find all ew coords

        ew_points = []

        #print(list(select['set'].values))

        for set in ew_sets:
            if set in list(select['set'].values):
                ew_points.append((float(select.loc[select['set'] == set].tx), 
                      float(select.loc[select['set'] == set].ty),
                      float(select.loc[select['set'] == set].tz)))
        
        # find closest point ew
        if len(ew_points) = 1:
           left_ew = right_ew = ew_points[0]
        
        else:
           for ew in ew_points:
               ldist = 0
               rdist = 0

[(557363.94, 7388267.97, 43.03), (557349.76, 7388273.85, 43.02)]
[(557343.85, 7388235.75, 55.78), (557340.52, 7388234.98, 55.78), (557344.05, 7388234.72, 55.93), (557340.79, 7388233.93, 55.93)]
[(557409.97, 7388152.7, 58.04), (557408.09, 7388151.18, 58.04)]