this is the second part, and it uses files from first run of centrostruct.py module


as result we should have tab with line azimuths, line angles, structure azimuth and rotations. 


i am also going to add xarms here - sizes and angles

In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
from shapely.geometry import Point, MultiPoint, LineString, MultiLineString
import csv

In [5]:
# пути
workdir = Path(r'D:\work\2022_m\training\ok')
resultdir = workdir / 'result'
tempdir = workdir / 'temp'

In [83]:
from math import sqrt, acos, degrees

def azimuth(a, b):
    # by two points we get azimuth
    dx = a[0] - b[0]
    dy = a[1] - b[1]
    dist = round(sqrt(dx*dx + dy*dy), 2)    # dist a to b
    dx2 = abs(dx)
    beta = degrees(acos(dx2/dist))
    if dx > 0:
        if dy < 0:
            angle = 270 + beta
        else:
            angle = 270 - beta
    else:
        if dy < 0:
            angle = 90 - beta
        else:
            angle = 90 + beta

    return round(angle, 1), dist

In [ ]:
первым делом подгружаем таблицу с предыдущего расчета

In [7]:
cgt_tab = pd.read_excel(resultdir / 'cgtw_output.xlsx', index_col=0)

In [8]:
cgt_tab

,c_line,id,x,y,z,geometry,havepoints,x1,y1,z1,x1_t,y1_t,z1_t,angle
index,,,,,,,,,,,,,,
1,1,1,1512936.51,5365808.23,107.81,POINT Z (1512936.51 5365808.23 107.81),1,1512936.52,5365808.24,76.44,1512936.52,5365808.22,107.81,0
2,1,2,1512632.98,5365943.75,99.71,POINT Z (1512632.98 5365943.75 99.71),1,1512633.05,5365943.64,69.67,1512633.02,5365943.77,99.71,0
3,1,3,1512336.16,5366075.89,106.28,POINT Z (1512336.16 5366075.89 106.28),1,1512336.18,5366075.94,70.94,1512336.02,5366076.17,106.28,0
4,1,4,1512085.56,5366369.55,145.81,POINT Z (1512085.56 5366369.55 145.81),1,1512085.49,5366369.54,109.37,1512085.42,5366369.51,145.81,0
5,1,5,1511917.23,5366606.40,147.08,POINT Z (1511917.23 5366606.4 147.08),1,1511917.29,5366606.34,111.14,1511917.22,5366606.29,147.08,0
6,1,6,1511668.49,5366928.61,171.69,POINT Z (1511668.49 5366928.61 171.69),1,1511667.93,5366929.18,141.97,1511668.45,5366928.58,171.69,0
7,1,7,1511100.77,5367094.81,302.68,POINT Z (1511100.77 5367094.81 302.68),1,1511100.73,5367094.53,272.99,1511100.76,5367094.78,302.68,0
8,1,8,1510788.87,5367267.54,225.86,POINT Z (1510788.87 5367267.54 225.86),1,1510788.84,5367267.61,191.48,1510788.91,5367267.65,225.86,0
9,1,9,1510567.97,5367389.75,178.79,POINT Z (1510567.97 5367389.75 178.79),1,1510567.97,5367389.78,148.64,1510567.97,5367389.82,178.79,0
10,1,10,1510117.09,5367690.46,111.74,POINT Z (1510117.09 5367690.46 111.74),1,1510117.16,5367690.41,69.33,1510117.17,5367690.46,111.74,0
11,1,11,1509759.07,5367895.77,106.09,POINT Z (1509759.07 5367895.77 106.09),1,1509758.97,5367895.89,69.09,1509758.97,5367895.96,106.09,0
12,1,12,1509412.70,5368094.46,103.95,POINT Z (1509412.7 5368094.46 103.95),1,1509412.69,5368094.43,67.03,1509412.65,5368094.39,103.95,0
13,1,13,1509130.35,5368257.43,98.69,POINT Z (1509130.35 5368257.43 98.69),1,1509130.31,5368257.43,66.15,1509130.43,5368257.58,98.69,0
14,1,14,1508964.84,5368571.33,112.20,POINT Z (1508964.84 5368571.33 112.2),1,1508964.75,5368571.33,75.92,1508964.84,5368571.35,112.20,0
15,1,15,1508824.33,5368927.80,122.50,POINT Z (1508824.33 5368927.8 122.5),1,1508824.20,5368927.76,84.71,1508824.29,5368927.81,122.50,0
16,1,16,1508785.67,5369375.85,141.96,POINT Z (1508785.67 5369375.85 141.96),1,1508785.69,5369375.87,110.10,1508785.67,5369375.81,141.96,0
17,1,17,1508755.13,5369731.98,144.14,POINT Z (1508755.13 5369731.98 144.14),1,1508755.21,5369732.09,113.15,1508754.95,5369731.97,144.14,0
18,1,18,1508712.14,5370235.62,186.00,POINT Z (1508712.14 5370235.62 186),1,1508712.10,5370235.66,146.94,1508712.10,5370235.66,186.00,0
19,1,19,1508693.96,5370447.55,201.25,POINT Z (1508693.96 5370447.55 201.25),1,1508693.98,5370447.55,171.43,1508693.94,5370447.49,201.25,0
20,1,20,1508672.14,5370701.07,186.37,POINT Z (1508672.14 5370701.07 186.37),1,1508672.14,5370701.09,148.66,1508672.48,5370701.16,186.37,0
21,1,21,1508643.57,5371034.74,191.61,POINT Z (1508643.57 5371034.74 191.61),1,1508643.48,5371034.76,162.08,1508643.50,5371034.68,191.61,0
22,1,22,1508724.28,5371371.76,176.54,POINT Z (1508724.28 5371371.76 176.54),1,1508724.16,5371371.66,146.28,1508724.08,5371371.73,176.54,0
23,1,23,1508849.13,5371893.15,260.76,POINT Z (1508849.13 5371893.15 260.76),1,1508849.11,5371893.20,230.39,1508849.18,5371893.21,260.76,0
24,1,24,1508896.96,5372094.38,305.41,POINT Z (1508896.96 5372094.38 305.41),1,1508896.89,5372094.44,273.31,1508896.97,5372094.41,305.41,0
25,1,25,1508953.07,5372328.90,326.31,POINT Z (1508953.07 5372328.9 326.31),1,1508953.11,5372328.95,296.28,1508953.02,5372328.83,326.31,0

create new tab based of initial

In [102]:
ang_tab = cgt_tab[['c_line', 'id']].copy()

In [103]:
# add new cols
new_cols = ['span name', 'span length 2d', 'span azimuth', 'line angle', 'structure azimuth', 'structure rotation', 'x_arm start']
for col in new_cols:
    ang_tab[col] = np.nan

In [104]:
ang_tab[:3]

,c_line,id,span name,span length 2d,span azimuth,line angle,structure azimuth,structure rotation,x_arm start
index,,,,,,,,,
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

find span name, length, azimuth, line angle

In [113]:
for n in range(len(cgt_tab)-1):
    idx = cgt_tab.iloc[n].name  # find index and work with index
    
    if cgt_tab.loc[idx, 'c_line'] == cgt_tab.loc[idx+1, 'c_line']:
        # check if we on the same c-line
        ang_tab.loc[idx, 'span name'] = f"{cgt_tab.loc[idx, 'id']} - {cgt_tab.loc[idx+1, 'id']}"  # span id 
        a = (cgt_tab.loc[idx, 'x1'], cgt_tab.loc[idx, 'y1'])   # start point
        b = (cgt_tab.loc[idx+1, 'x1'], cgt_tab.loc[idx+1, 'y1'])   # end point
        ang_tab.loc[idx, 'span azimuth'], ang_tab.loc[idx, 'span length 2d'] = azimuth(a, b)
        if idx > 1:
            if cgt_tab.loc[idx, 'c_line'] == cgt_tab.loc[idx-1, 'c_line']:
                spam = ang_tab.loc[idx, 'span azimuth'] - ang_tab.loc[idx-1, 'span azimuth']
                if spam < -180:
                    ang_tab.loc[idx, 'line angle'] = spam + 360
                else:
                    ang_tab.loc[idx, 'line angle'] = spam
            else:
                ang_tab.loc[idx, 'line angle'] = 0
        else:
                ang_tab.loc[idx, 'line angle'] = 0
    
    #print(span_name, azim, span_len)

In [119]:
ang_tab[-3:]

,c_line,id,span name,span length 2d,span azimuth,line angle,structure azimuth,structure rotation,x_arm start
index,,,,,,,,,
23,1,23,23 - 24,206.83,13.4,-0.1,NaN,NaN,NaN
24,1,24,24 - 25,241.15,13.5,0.1,NaN,NaN,NaN
25,1,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN

lets work with x-arms